@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: "Athene";
    src: url(../fonts/Athene.otf);
}

/* Farben: #002a5a, #efe8d7, #F4C4C4, #282b29, #7d2222, #DEB873, #D2D2D2, #1d8883 */


body {
    background: #efe8d7;
}

nav {
    padding: 30px;
    height: 10%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #002a5a;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li , nav li a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #002a5a;
    text-decoration: none;
    font-size: 1.3rem;
}

nav li a:hover {
    font-weight: 400;
}

nav li:first-child {
    margin-left: 15%;
    margin-right: 60%;
}

.temporary-folio {
    background: #efe8d7;
    margin-top: 3%;
    margin-bottom: 5%;
}

.temporary-folio h2 {
    margin-bottom: 3%;
}

figure {
    width: 20%;
    margin: 0 auto;
}

figure img {
    width: 100%;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

#figc {
    font-family: 'Athene', serif;
}

h1 , h2 {
    font-family: 'Athene', serif;
    color: #002a5a;
    font-weight: 100;
    text-align: center;
    font-size: 10rem;
    width: 64%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.release {
    background: #F4C4C4;
}

#release-h2 {
    font-size: 13rem;
    text-align: left;
    width: 100%;
    color: black;
    border: none;
}

.littlenumber {
    margin-left: 6%;
    padding-top: 6%;
}

p {
    font-family: 'Open Sans', sans-serif;
    
}

#introduction {
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 35%;
    right: 0;
    margin-left: 60%;
}

table {
    border-collapse: collapse;
    min-width: 45%;
    font-family: 'Open Sans', sans-serif;
    margin: 5% 20% 0 50%;    
  }

thead, .right-align {
    text-align: right;
}

td:nth-of-type(1) {
    width: 10%;
}

td:nth-of-type(2) {
    width: 75%;
}

td:nth-of-type(3) {
    width: 15%;
}


th, td {
    padding: 3% 0 3% 0;
    border-bottom: 1px solid black;
    border-right: 5px solid #F4C4C4;
}

th {
    padding: 0;
    font-size: 1.3rem;
}

.numbers , .right-align {
    font-size: .8rem;
}

.values {
    font-size: 1.3rem;
}

.right-align {
    padding-right: 0;
}

#lets-work {
    height: 10%;
    width: 10%;
    display: inline-block;
    margin: 5% 0 5% 85%;   
}

.works {
    background: #DEB873;
}

#works-h2 {
    font-size: 13rem;
    text-align: right;
    width: 100%;
    color: #7d2222;
    border: none;
    padding-top: 5%;
}