@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: "Athene";
    src: url(../fonts/Athene.otf);
}

/* Farben: #002a5a, #efe8d7, #F4C4C4, #282b29, #7d2222, #DEB873, #D2D2D2, #1d8883 */

body {
    margin: 0;
    background: #efe8d7;
}

nav {
    padding: 30px;
    height: 10%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #002a5a;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li , nav li a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #002a5a;
    text-decoration: none;
    font-size: 1.3rem;

}

nav li:first-child {
    margin-left: 15%;
    margin-right: 60%;
}

.temporary-folio {
    background: #efe8d7;
    margin-bottom: 5%;

}

.temporary-folio article {
    width: 90%;
    margin: 0 auto;
}

h1 , h2 {
    font-family: 'Athene', serif;
    color: #002a5a;
    font-weight: 100;
    text-align: center;
    font-size: 10rem;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

#designer figcaption {
    font-family: 'Open Sans', sans-serif;
    color: #002a5a;
}

#designer figcaption span {
    font-family: 'Athene', serif;
}

.release {
    background: #F4C4C4;
    position: absolute;
}

.release h2 {
    text-align: left;
    width: 100%;
    color: black;
    border: none;
}

.littlenumber {
    margin-left: 6%;
    padding-top: 6%;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#introduction {
    border: 1px solid green;
    width: 40%;
    position: relative;
    right: 0;
}


/* 
#designer img {
    border: 1px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#designer figcaption {
    displaY: block;
    width: 100%;
    padding: 0.5em;
}
 */
